#root{
    -fx-background-image: url("tomb-bg1.png");
    -fx-background-size: cover;
}

#mainPane{
    -fx-background-color: white;
}

#wall{
    -fx-background-image: url("wall.jpg");
}

#trap{
    -fx-background-image: url("trap.png");
}

#titleText{
    -fx-font-family: Impact;
    -fx-font-size: 36;
}
